/*
 * HEY HEY HEY!  Break it up over there!
*/

$mobile: 480px;
$tablet: 800px;
$laptop: 992px;
$desktop: 1200px;

@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }
    @else if $point == laptop {
        @media (max-width: $laptop) {
            @content;
        }
    }
    @else if $point == tablet {
        @media (max-width: $tablet) {
            @content;
        }
    }
    @else if $point == mobile {
        @media (max-width: $mobile) {
            @content;
        }
    }
}
