
/* Colors */

$link:        #60adf6;
$grey:        #b3c0bf;
$light-grey:  #f1f1f1;
$green:       #5ebf60;


/* Device Sizes */
$mobile:            320px;
$mobile-horizontal: 480px;
$tablet:            768px;
$tablet-horizontal: 1024px;
$desktop-large:     1280px;