
/* Colors */

$grey:        #272727;
$light-grey:  #f1f1f1;
$cream:       #DEE1D5;
$link:        #8696AB;

/* Typography */

$mainfont:	'Roboto Condensed', sans-serif;
$headings:	'Roboto Condensed', sans-serif;

